# Containers: Lists, Tuples and Sets

# Lists

Lists are used to hold a list of objects. In Python, a list may hold any type of item and may mix item type. In practice, you only store a single item in a list. The list gives an order to a sequence of items. They are mutable, so we can add, remove and alter the contents of them.

There are 2 ways to create lists: one is to invoke the list class and the other one is by using square bracket literal syntax.

In [1]:
names = list()
other_names = []

In [2]:
other_names = ["Fred", "Charles"]

In [3]:
list("Matt")

['M', 'a', 't', 't']

Lists, like other types, have methods that you can call on them.

In [4]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
names = []
names.append("Matt")
names.clear()
names.append("Matt")
names.append("Brock")
names.index("Brock")
names.count("Matt")

1

In [6]:
print(names)

['Matt', 'Brock']

# Sequence indices

A list is one of the sequence types in Python. Sequences hold ordered collections of objects. Every item in a list has an associated index, which describes it's location in the list.

In [7]:
names[0]

'Matt'

In [8]:
names[1]

'Brock'

In [9]:
# names[2] #list index out of range

# List insertion

In [10]:
names.insert(2, "Ryan")

In [11]:
names.insert(3, "Peter")

In [12]:
names

['Matt', 'Brock', 'Ryan', 'Peter']

# List replacement

In [13]:
names[1]

'Brock'

In [14]:
names[1] = "Jordan"

In [15]:
names[1]

'Jordan'

# List append

In [16]:
names.append("Raul")

In [17]:
names

['Matt', 'Jordan', 'Ryan', 'Peter', 'Raul']

# List deletion

In [18]:
names.remove("Jordan")

In [19]:
names

['Matt', 'Ryan', 'Peter', 'Raul']

In [20]:
# By index

In [21]:
del names[3]

In [22]:
names

['Matt', 'Ryan', 'Peter']

# Sorting lists

In [23]:
names

['Matt', 'Ryan', 'Peter']

In [24]:
names.sort()

In [25]:
names

['Matt', 'Peter', 'Ryan']

# Saving a sorted copy

In [26]:
old = [5,3, -2, 1]

In [27]:
old

[5, 3, -2, 1]

In [28]:
nums_sorted = sorted(old)

In [29]:
old

[5, 3, -2, 1]

In [30]:
nums_sorted

[-2, 1, 3, 5]

# You can't sort heterogenous lists

In [31]:
random_shit = [2, "abc", "Zebra",-1]

In [32]:
# random_shit_sorted = sorted(random_shit)

# What you can do is pass in a function for the key parameter!

In [33]:
random_shit.sort(key=str)

In [34]:
random_shit

[-1, 2, 'Zebra', 'abc']

# Helpful

In [35]:
nums = range(5)
nums

range(0, 5)

In [36]:
list(nums)

[0, 1, 2, 3, 4]

In [37]:
# numbers from 2 to 6

In [38]:
nums2 = range(2, 6)
nums2

range(2, 6)

In [39]:
list(nums2)

[2, 3, 4, 5]

In [40]:
# A stride means that the next number in the sequence that range returns should be one more than the previous. A stride of 2 would return every other number

In [41]:
even = range(0, 11, 2)

In [42]:
even

range(0, 11, 2)

In [43]:
list(even)

[0, 2, 4, 6, 8, 10]

In [44]:
odd = range (0, 100, 3)

In [45]:
odd

range(0, 100, 3)

In [46]:
list(odd)

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

# The "up to but not including" is more formally known as the half open interval.

In [47]:
a = range(0,5)
b = range(5, 10)
both = list(a) + list(b)

In [48]:
both

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples

Tuples are immutable sequences. They should be thought of as ordered records. Once you create them, you can't change them.

In [49]:
row = ("George", "Guitar")
row

('George', 'Guitar')

In [50]:
row2 = ("Paul", "Bass")
row2

('Paul', 'Bass')

In [51]:
# You can create tuples with zero or one items in them. In practice, because tuples hold record type data, this isn't very common. THere are two ways to create an enmpty tuple:

In [52]:
empty = tuple()
empty

()

In [53]:
empty = ()
empty

()

In [54]:
one = tuple([1])
one

(1,)

In [55]:
one = (1,)
one

(1,)

In [56]:
one = 2,
one

(2,)

In [57]:
d = (3)
type(d)

int

In [58]:
e = (3,)
type(e)

tuple

In [59]:
# How to create tuples with more than one item

In [60]:
p = tuple(["Steph", "Guard", "Curry"])
p

('Steph', 'Guard', 'Curry')

In [61]:
e = ("Steph", "Curry", "Guard")
e

('Steph', 'Curry', 'Guard')

In [62]:
r = "Steph", "Curry", "Guard"
r

('Steph', 'Curry', 'Guard')

# The main difference between tuples and lists is mutability. Because tuples are immutable, they are able to serve as keys in dictionaries. Tuples are often used to represent a record of data such as the row of a database query.

In [63]:
person = ("Matt", "123 North 456 East", 24)
person

('Matt', '123 North 456 East', 24)

# Sets

A set is an unordered collection that cannot contain duplicates. Like a tuple, it can be istantiated with a list or anything you can iterate over. A set does not care about order. Sets are particularly used for two things - removing duplicates and checking membership.

Because sets must be able to compute a hash value for each item in the
set, sets can only contain items that are hashable. A hash is a semiunique number for a given object. If an object is hashable, it will
always generate the same hash number.
In Python, mutable items are not hashable. This means that you
cannot hash a list or dictionary. To hash your own user-created classes,
you will need to implement __hash__ and __eq__

In [64]:
digits = [0, 1, 1, 2, 3, 4, 5, 6,]
print(digits)

[0, 1, 1, 2, 3, 4, 5, 6]

In [65]:
digits_set = set(digits)

In [66]:
print(digits_set)

{0, 1, 2, 3, 4, 5, 6}

In [67]:
9 in digits_set

False

In [68]:
1 in digits_set

True

In [69]:
odd = {1,3,5,7,9}

In [70]:
even = digits_set - odd
print(even)

{0, 2, 4, 6}

The & sign is used to look for items in both sets.

In [71]:
prime = set([2,3,5,7])
prime_even = prime & even
prime_even

{2}

The | sign returns a set composed of all the items from both sets, with duplicates removed

In [72]:
numbers = odd | even
print(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 9}

Xor (^) retursn a set of items that only are found in one set or the other, but not both

In [73]:
first_five = set([0,1,2,3,4])
two_to_six = set([2,3,4,5,6])
in_one = first_five ^ two_to_six
print(in_one)

{0, 1, 5, 6}

# TASKS

Create a list. Append the names of your colleagues and friends to it.
Has the id of the list changed? Sort the list. What is the first item in
the list? What is the second item in the list?

In [74]:
classmates = []
classmates

[]

In [75]:
classmates.append("Chris")
classmates

['Chris']

In [76]:
classmates.append("Theo")
classmates

['Chris', 'Theo']

In [77]:
classmates.append("Stephan")
classmates

['Chris', 'Theo', 'Stephan']

In [78]:
# classmates_sorted

NameError: name 'classmates_sorted' is not defined

In [80]:
classmates_sorted = sorted(classmates)
classmates_sorted

['Chris', 'Stephan', 'Theo']

In [81]:
classmates[0]

'Chris'

In [82]:
classmates[1]

'Theo'

 Create a tuple with your first name, last name, and age. Create a list,
people, and append your tuple to it. Make more tuples with the
corresponding information from your friends and append them to the
list. Sort the list. When you learn about functions, you can use the key
parameter to sort by any field in the tuple, first name, last name, or
age.

In [83]:
me = ("Yordan", "Kumchev", 23)
Chris = ("Kristian", "Nedelchev", 24)
Theo = ("Teodor", "Nenov", 26)

In [84]:
people = me + Chris + Theo

# Iteration

A COMMON IDIOM WHEN DEALING WITH SEQUENCES IS TO LOOP OVER THE CONTENTS
of the sequence. You might want to filter out one of the items, apply a
function to it, or print it out. The for loop is one way to do this. Here is an
example of printing out the strings in a list:

In [88]:
for letter in ["c", "a", "t"]:
    print(letter)

c
a
t

In [89]:
print(letter)

t

In [90]:
for int in [1,2,3]:
    print(int)

1
2
3

In [92]:
for float in [1.0, 2, 3.7, "Zebra"]:
    print(float)

1.0
2
3.7
Zebra

# Looping with an index

In languages like C, when you loop over a sequence, you do not loop over
the items in the sequence, rather you loop over the indices. Using those
indices you can pull out the items at those index values. Here is one way to
do that in Python using the built-in functions range and len:

In [94]:
animals = ["cat", "dog", "bird"]
for index in range(len(animals)):
    print(index, animals[index])

0 cat
1 dog
2 bird

In [95]:
classmates = ['Jordan', 'Theo', 'Chris']
for index in range(len(classmates)):
    print(index, animals[index])

0 cat
1 dog
2 bird

In [96]:
classmates = ['Jordan', 'Theo', 'Chris']
for index in range(len(classmates)):
    print(animals[index])

cat
dog
bird

In [97]:
classmates = ['Jordan', 'Theo', 'Chris']
for index in range(len(classmates)):
    print(animals[index], index)

cat 0
dog 1
bird 2

The above code is a code smell. It indicates that you are not using Python
as you should. Usually, the reason for iterating over a sequence is to get
access to the items in the sequence, not the indices. But occasionally you
will also need the index position of the item. Python provides the built-in
enumerate function that makes the combination of range and len
unnecessary. The enumerate function returns a tuple of (index, item) for
every item in the sequence

In [98]:
animals = ["cat", "dog", "bird"]
for index, value in enumerate(animals):
    print(index, value)

0 cat
1 dog
2 bird

In [99]:
animals = ["cat", "dog", "bird"]
for index, value in enumerate(animals):
    print(value, index)

cat 0
dog 1
bird 2

In [103]:
money_made_this_year = [1321837128412, 37421841290341, 4780912148124312]
for index, value in enumerate(money_made_this_year):
    print(value, index)

1321837128412 0
37421841290341 1
4780912148124312 2