# Chapter 4 - Strings and string methods

The string is a fundamental data type in Python, because it can't be broken down into smaller values of a different type. Not all values are fundamental.

In [1]:
type ("hello world")

str

type() # returns the class of a certain object

In [3]:
phrase = "Hello, World"
type(phrase)

str

Стрингът се състои от "characters"/"знаци", има дължина, има последователност, т.е - низ. Всеки стринг, поставен в ''/"" е string literal.

In [4]:
string1 = 'Hello, World'

In [5]:
string2 = "1234"

In [6]:
string3 = "We're #1!"

In [7]:
string4 = 'I said, "Put it over by the llama."'

In [9]:
text = "She said, \"What time is it?\""

In [10]:
print(text)

She said, "What time is it?"

Когато се маркират стрингове, е хубаво да има последователност, т.е. "" or ''

In [11]:
# Determining the length of a string

In [12]:
len("abc")

3

In [13]:
len("Hello, World")

12

In [14]:
len("Tripping all back to the last said summer")

41

In [15]:
letters = "abc"

In [16]:
len(letters)

3

In [18]:
# Multiline strings - използва се за разчупването на дълъг текст на кратки стрингове, следвайки препоръката на PEP 8 за 79 символа на ред + интервалите

In [21]:
paragraph = "This planet has—or rather had—a problem, which was\
this: most of the people living on it were unhappy for\
pretty much of the time. Many solutions were suggested\
for this problem, but most of these were largely concerned with the movements of small green pieces of\
paper, which is odd because on the whole it wasn’t the\
small green pieces of paper that were unhappy."
print(paragraph)

This planet has—or rather had—a problem, which wasthis: most of the people living on it were unhappy forpretty much of the time. Many solutions were suggestedfor this problem, but most of these were largely concerned with the movements of small green pieces ofpaper, which is odd because on the whole it wasn’t thesmall green pieces of paper that were unhappy.

In [23]:
long_string = "This multiline string is\
displayed on one line"
print(long_string)

This multiline string isdisplayed on one line

In [24]:
# Another approach (maybe the best) -

In [28]:
paragraph = """ This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy."""
print(paragraph)

 This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy.

In [36]:
 # Exercises

In [ ]:
# Task 1 = Print a string that uses double quotation marks inside the string.

In [30]:
string = "Task1"
print(string)

Task1

In [ ]:
# Task 2 =  Print a string that uses an apostrophe inside the string.

In [31]:
string2 = 'Task2'
print(string2)

Task2

In [ ]:
# Task 3 = Print a string that spans multiple lines with whitespace preserved.

In [33]:
string3 = """ An example of a
           string that spans across multiple lines
           and also preserves whitespace"""
print(string3)

 An example of a
           string that spans across multiple lines
           and also preserves whitespace

In [ ]:
# Task 4 = Print a string that is coded on multiple lines but gets printed on a
single line

In [34]:
string4 = """ This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy."""
print(string4)

 This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy.

# Concatenation, Indexing and Slicing

In [37]:
# Concatenation - сливане на 2 стринга
# Indexing - индексиране на стринг, свързването му с 1 знак
# Slicing - извлича няколко знака от стринга наведнъж

# String Concatenation

In [41]:
string1 = "abra"
string2 = "cadabra"
magic_string = string1 + string2
print(magic_string)

abracadabra

In [48]:
first_name = "Arthur"
surname = "Canterburry"
last_name = "Dent"
full_name = first_name + " " + surname + " " + last_name
print(full_name)

Arthur Canterburry Dent

# String Indexing

In [49]:
flavor = "fig pie"
flavor[1]

'i'

In [50]:
# Тази команда връща знака на позиция 1 в текущия string. Т.к. индексите в Python започват от 0, тук връща i

In [51]:
flavor[0]

'f'

In [52]:
# f = o, i = 1, g = 2, p = 3, i = 4, e = 5

In [53]:
# Опит за извличане на несъществуващ индекс

In [55]:
#flavor[12]

In [56]:
# String-овете поддържат и негативни индекси, т.е -1

In [65]:
flavor[-1]

'e'

In [66]:
flavor[-2]

'i'

In [68]:
flavor[-3]

'p'

In [69]:
flavor[-4]

' '

In [70]:
flavor[-5]

'g'

In [71]:
flavor[-6]

'i'

In [72]:
flavor[-7]

'f'

In [75]:
user_input = "Pie"
final_index=len(user_input) - 1
print(final_index)

2

In [76]:
last_character = user_input[final_index]

In [77]:
last_character = user_input[-1]

# String slicing

In [80]:
first_three_letters = flavor[0] + flavor [1] + flavor[2]
print(first_three_letters)

fig

In [81]:
flavor = "fig pie"
flavor[0:3]

'fig'

In [82]:
flavor[:3]

'fig'

In [83]:
flavor[3:7]

' pie'

In [84]:
flavor[4:7]

'pie'

In [85]:
flavor[3:]

' pie'

In [86]:
flavor[:]

'fig pie'

In [87]:
flavor[:14]

'fig pie'

In [88]:
flavor[13:15]

''

A string that's considered empty - ""
A string that's not considered empty - " " (interval means it's not empty)

In [91]:
empty_string = ""
non_empty_string1 = " "
non_empty_string2 = "   "
non_empty_string3 = "         "

# Strings are immutable = this means that you can't change them once you have created them

In [92]:
word = "goal"
word[0] = "f"

TypeError: 'str' object does not support item assignment

In [93]:
# ALtering a string requires an entirely new string, i.e. changing goal to foal

In [96]:
word = "goal"
word = "f" + word[1:]

In [95]:
word

'foal'

In [97]:
# Task 1 = Create a string and print its length using len()

In [98]:
task1_str = "Yordan Atanasov Kumchev"

In [99]:
len(task1_str)

23

In [101]:
# Task 2 =  Create two strings, concatenate them, and print the resulting string

In [104]:
task2_str1 = "ice"
task2_str2 = "cream"
task2_new_string = task2_str1 + task2_str2
print(task2_new_string)

icecream

In [105]:
# Task 3 = Create two strings, use concatenation to add a space between them, and print the result.

In [109]:
task3_1 = "Yordan"
task3_4 = "Atanasov"
task3_2 = "Kumchev"
task3_3 = task3_1 + " " + task3_4 + " " + task3_2
print(task3_3)

Yordan Atanasov Kumchev

In [110]:
# Task 4 - Print the string "zing" by using slice notation to specify the correct range of characters in the string "bazinga"

In [115]:
task4_1 = "zing"
task4_2 = "ba"+ task4_1[0:] + "a"
print(task4_2)

bazinga

# Manipulate Strings With Methods

In [118]:
# Convert a string to uppercase or lowercase
# Remove whitespace from a string
# Determine if a string begins or ends with certain characters

In [119]:
# 1 - Converting

In [120]:
"Jean-Luc Picard".lower()

'jean-luc picard'

In [121]:
string1 = "Jean-Luc Picard"

In [122]:
string1.lower()

'jean-luc picard'

In [1]:
name = "Jean-Luc Picard"
name.lower()

'jean-luc picard'

In [3]:
name.upper()

'JEAN-LUC PICARD'

In [4]:
len(name)

15

In [5]:
# Removing whitespaces from a String

In [6]:
# Blankspace - every character that is printed as a blank space

In [8]:
# .rstrip() - whitespace from the right side
name = "Jean-Luc Picard       "
name.rstrip()

'Jean-Luc Picard'

In [9]:
# .lstrip() - whitespace from the left side
name = "   Jean-Luc Picard"
name.lstrip()

'Jean-Luc Picard'

In [10]:
# .strip() - whitespace from all sides
name = "   Jean-Luc Picard   "
name.strip()

'Jean-Luc Picard'

In [11]:
# Determine if a string starts or ends with a particular string

In [12]:
# .startswith() / .endswith()

In [14]:
starship = "Enterprise"
starship.startswith("en")

False

In [15]:
starship.startswith("En")

True

In [16]:
starship.endswith("ise")

True

In [17]:
starship.endswith("Ise")

False

In [18]:
# String methods and Immutability

In [19]:
name = "Richard"
name.upper()

'RICHARD'

In [20]:
name

'Richard'

In [21]:
name = "Richard"
name = name.upper()

In [22]:
name

'RICHARD'

In [23]:
# Review Excercises

In [24]:
# Task 1+2 - Write a program that converts the following strings to lowercase: "Animals", "Badger", 
# "Honey Bee", "Honey Badger". Print each lowercase string on a separate line.

In [29]:
name1 = "Animals"
name2 = "Badger"
name3 = "Honey Bee"
name4 ="Honey Badger"

In [32]:
names = name1 + " " + name2 + " " + name3 + " " + name4

In [33]:
names

'Animals Badger Honey Bee Honey Badger'

In [34]:
names.lower()

'animals badger honey bee honey badger'

In [37]:
name1.lower()

'animals'

In [38]:
name2.lower()

'badger'

In [39]:
name3.lower()

'honey bee'

In [40]:
name4.lower()

'honey badger'

In [41]:
name1.upper()

'ANIMALS'

In [42]:
name2.upper()

'BADGER'

In [43]:
name3.upper()

'HONEY BEE'

In [44]:
name4.upper()

'HONEY BADGER'

In [45]:
names.strip()

'Animals Badger Honey Bee Honey Badger'

In [46]:
# Task 3 -  Write a program that removes whitespace from the following strings, then print out the strings with the whitespace removed:

In [47]:
string1 = "  Filet Mignon"
string2 = "Brisket    "
string3 = "  Cheeseburger  "

In [52]:
string1 = string1.lstrip()

In [53]:
string2 = string2.rstrip()

In [54]:
string3 = string3.strip()

In [55]:
string1

'Filet Mignon'

In [56]:
string2

'Brisket'

In [57]:
string3

'Cheeseburger'

In [58]:
#  Task 4 - Write a program that prints out the result of .startswith("be") on each of the following strings:

In [60]:
string1 = "Becomes"
string1.startswith("be")

In [62]:
string2 = "becomes"
string2.startswith("be")

False

In [65]:
string3 = "BEAR"
string3.startswith("be")

False

In [67]:
string4 = "  bEautiful"
string4 = string4.strip()
string4
string4.startswith("be")

False

In [69]:
# Task 5 - Using the same four strings from exercise 4, write a program that uses string methods to 
# alter each string so that .startswith("be") returns True for all of them.

In [71]:
string1 = string1.lower()
string1.startswith("be")

True

In [73]:
string2 = string2.lower()
string2.startswith("be")

True

In [74]:
string3 = string3.lower()
string3.startswith("be")

True

In [ ]:
string4 = "  bEautiful"
string4 = string4.strip()
string4 = string4.lower()
string4.startswith("be")

# Interact with user input

In [76]:
input()

Hello there!

'Hello there!'

In [ ]:
prompt = "Hey, what's up?"

In [ ]:
user_input = input(prompt)

In [ ]:
print("You said: " + user_input)

# Working with strings and numbers

In [1]:
# Using strings with arithmetic operators

In [2]:
num = 2
num + num

4

In [4]:
num = "12"
num * 3

'121212'

In [7]:
"12" + "3"

'123'

In [8]:
# Converting strings to numbers

In [1]:
num = input("Enter a number to be doubled: ")

Enter a number to be doubled: 2

In [2]:
doubled_num = num * 2

In [3]:
print(doubled_num)

22

In [4]:
# The problem here is that input() requires a string, not an int or a decimal, this is why it concatenates 2 strings;

In [5]:
int("12")

12

In [6]:
float("12")

12.0

In [7]:
num1 = input("What number should I double for you?")

What number should I double for you?55

In [13]:
doubled_num1 = int(num1) * 2

In [14]:
print(doubled_num1)

110

In [15]:
# Converting numbers to strings

In [19]:
num_pancakes = 10
"I am going to eat" + " " + str(num_pancakes) + " " + "pancakes."

'I am going to eat 10 pancakes.'

In [20]:
pancakes_left = 5

In [23]:
" Only" + " " + str(num_pancakes - pancakes_left) + " " "are left."

' Only 5 are left.'

In [31]:
# Task 1 - Create a string containing an integer, then convert that string into an actual integer
# object using int(). Test that your new object is a number by multiplying it by another number and
# displaying the result.
str = "5"

In [32]:
str

'5'

In [33]:
str = int(str)

In [34]:
str * str

25

In [35]:
# Task 2 - Repeat the previous exercise, but use a floating-point number and float().

In [36]:
str1 = '5'

In [37]:
str1

'5'

In [38]:
str1 = float(str1)

In [39]:
str1

5.0

In [40]:
sum = str1 * str1

In [41]:
sum

25.0

In [42]:
# Task 3 -  Create a string object and an integer object, then display them side by side with a single print statement
# using str().

In [1]:
num_pancakes = 5

In [4]:
print("I have eaten" + " " + str(num_pancakes) + " " "pancakes.")

I have eaten 5 pancakes.

In [5]:
# Task 4 - Write a program that uses input() twice to get two numbers from the user, multiplies the numbers together, 
# and displays the result. If the user enters 2 and 4, then your program should print the following text:
# The product of 2 and 4 is 8.0.

In [1]:
prompt1 = input("Hey, what should I add first?")

Hey, what should I add first?7

In [2]:
prompt2 = input("Hey, what should I add next?")

Hey, what should I add next?8

# Streamline Your Print Statements

In [8]:
name = "Zaphod"
heads = 2
arms = 3

In [11]:
name + " has " + str(heads) + " heads and " + str(arms) + " arms."

'Zaphod has 2 heads and 3 arms.'

In [12]:
# ANOTHER WAY OF INTERPOLATING STRINGS = FORMATTED STRING LITERALS or F strings.

In [14]:
f"{name} has {heads} heads and {arms} arms"

'Zaphod has 2 heads and 3 arms'

In [15]:
name = "Yordan"
middle_name = "Atanasov"
surname = "Kumchev"

In [17]:
age = 23
university = "Plovdiv University"

In [19]:
f"{name} {middle_name} {surname} is {age} years old and studies at {university}"

'Yordan Atanasov Kumchev is 23 years old and studies at Plovdiv University'

In [23]:
n = 3
m = 4
sum = n*m
f"{n} times {m} is {n*m}"

'3 times 4 is 12'

In [25]:
f"The product of {n} and {m} is {sum}."

'The product of 3 and 4 is 12.'

# Find a string in a string

In [26]:
phrase = "the surprise is in here somewhere"

In [27]:
phrase.find("surprise")

4

# The interpreter

Compiled language: by executing a program, it goes to a compiler and then binary runs on an operator.Interpreted language: by running a program, the interpreter runs on computer and runs program commands. Python might have slower execution times than C programs, but it's optimized for developer time. Citing - "It's not uncommon for a Python program to be 2-10 times shorter than it's C equivalent.

Python has an interactive interpreter - REPL - READ, EVALUATE, PRINT, LOOP.

Simple output

In [ ]:
print("Hello there")

In [ ]:
print("I am", 10, "Years old")

In [ ]:
name = input('Enter your name')

In [ ]:
print(name)

The value entered into the terminal input is ALWAYS a string.

In [1]:
value = input("Enter a number")

Enter a number 7

In [2]:
other = input("Enter another")

Enter another 8

In [4]:
type(value)

str

In [5]:
type(other)

str

In [7]:
value + other #This line CONCATENATES both inputs, because they're in a string format

'78'

int(value) + int(other) # This line adds the INTEGER values of the inputs

Tasks:
1. Create some Python code that will prompt you to enter your name.
Print out Hello and then the name.
2. Create a program that will ask a user how old they are. Print out some
text telling them how old they will be next year.

In [11]:
my_name = input("What's your name?")

What's your name? Jordan

In [14]:
print("Hello,", my_name)

Hello, Jordan

In [15]:
my_age = input("What's your current age?")

What's your current age? 23

In [17]:
next_year_age = int(my_age) +1
next_year_age

24

In [32]:
f"Next year {my_name} is going to be {next_year_age} years old"

'Next year Jordan is going to be 24 years old'

# Variables

Two important programming concepts are state and mutation. State deals with a digital representation of a model. For example, if you want to model a light bulb, you may want to store its current status—is it on or off? Other possibly interesting states you could store include the type of bulb (CFL orincandescent), wattage, size, dimmable, etc. Mutation deals with changing the state to a new or different state. For the light bulb example, it could be useful to have a power switch that toggles the state and changes it from off to on.

Objects have state and might be mutated. To keep track of the objects, we use VARIABLES
Variables are like a label or a tag.

In [33]:
# If you want to inspect the reference count of an object, you can call sys.getrefcount() on it
import sys
names = []
sys.getrefcount(names)

2

IMPORTANT NOTE: Return the reference count of object. The count returned is generally one higher than you might expect, because it includes the (temporary) reference as an argument to
getrefcount().

# Cattle tags

The analogy with cattle ranch - you might want to keep track of certain identification marks within the ranch. This is where variables come in handy. Let's say, If we're identifying humans, we might need their age, address and name.

In [35]:
age = 16
address = "Bury New Road 7"
name = "Jordan"

In [43]:
print(age)

16

In [42]:
print(address)

Bury New Road 7

In [39]:
print(name)

Jordan

In [48]:
# Coming back to the bulb example
status = "off"
wattage = "25 watt"
incandescent = wattage

In [49]:
print(incandescent, wattage)

25 watt 25 watt

In [51]:
# This is a common example of rebinding variables. First we bind the 'num' to 400(int) and then we rebind it to '400'(str)
num = 400 #This is an integer
num = '400' # This is a string

# Naming variables

Variable naming is done by following a convention - some of the conventions are enforced, some of them - aren't. One that is enforced by the interpreter is that a variable should not have the name of a keywoard. The word "break" is a keywoard and hennce cannot be used as a variable.

In [53]:
break = 'foo' #In this case, break is a function and can't be called as a variable.

SyntaxError: invalid syntax (<ipython-input-53-38742d10220e>, line 1)

In [57]:
print("Here are the keywords in Python:")
import keyword
print(keyword.kwlist)

Here are the keywords in Python:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

The variables should:
- be lowercase
- use underscore to separate words
- not start with numbers
- not override a built in function

Tasks:
1. Create a variable, pi, that points to an approximation for the value of π. Create a variable, r, for the radius of a circle that has a value of 10. Calculate the area of the circle (π times the radius squared). You can do multiplication with * and you can square numbers using **. For example, 3**2 is 9
2. . Create a variable, b, that points to the base of a rectangle with a value of 10. Create a variable, h, that points to the height of a rectangle with a value of 2. Calculate the perimeter. Change the base to 6 and calculate the perimeter again.

In [61]:
# Task 1
pi = 3.14159265359
r = 10
area = pi * (r*r)
print(area)

314.159265359

In [66]:
# Task2
b = 6
h = 2
perimeter = b*h
print(perimeter)

12

# Processes with numbers

In [ ]:
2-6 # With integers

In [ ]:
.25 - 0.2 # With floats

In [ ]:
# Multiplication

In [ ]:
6*2

In [ ]:
.25 * 12

In [ ]:
4*0.3

In [ ]:
# Division

In [ ]:
12/4

In [ ]:
3/4

In [ ]:
3 // 4 # integer division

In [ ]:
# The modulo operator calculates the modulus.
# This is the same as the remainder of a divison operation when
# The operators are positive

In [ ]:
4 % 3 #this means the number is odd

In [ ]:
4 % 2 # this means the number is even

In [ ]:
# Power - **

In [ ]:
4 ** 2

In [ ]:
10 ** 2

In [ ]:
# Order of operations

In [ ]:
4 + 2 * 3

In [ ]:
(4+2) * 3

In [ ]:
# Task 1 You slept for 6.2, 7, 8, 5, 6.5, 7.1, and 8.5 hours this week. 
# Calculate the average number of hours slept.

In [ ]:
n = 7
hours_of_sleep = (6.2, 7, 8, 5, 6.5, 7.1, 8.5)

In [ ]:
print(hours_of_sleep)

In [ ]:
total_sleep_time = sum(hours_of_sleep)

In [ ]:
average_sleep_time = total_sleep_time / n

In [ ]:
print(average_sleep_time)

In [ ]:
# Is 297 divisible by 3?

In [ ]:
297 / 3 # Yes

In [ ]:
# What is 2 raised to the tenth power?

In [ ]:
2 ** 10 # 1024

In [ ]:
# Every year that is exactly divisible by four is a leap year

In [ ]:
1800 / 4

In [ ]:
1900 / 4

In [ ]:
1903 / 4 #no

In [ ]:
2000 / 4

In [ ]:
2002 / 4 #no

# Strings

String sare immutable objects that hold character data. A string could hold a single character, a line of word, a paragraph, multiple paragraphs or even zero characters.

In [ ]:
character = 'a'
name = 'Matt'
with_quote = "I ain't gonna"
longer = """ This string has\
 multiple lines\
 in it"""

In [ ]:
longer

In [ ]:
backlash = "\\"

In [ ]:
print(backlash) # Escaping a backlash with a backlash

In [ ]:
# \\
# \'
# \"
# \b
# \n - newline
# \t - tab

In [ ]:
slash_t = r'\tText \\'
print(slash_t)

In [ ]:
normal = '\tText \\'
print(normal)

# Formatting strings

In [ ]:
name = 'Matt'
print('Hello {}'.format(name))

In [ ]:
age = 17
age = str(age)
print('I am {}'.format(age))

The preferred way to format strings is to use the .format method of strings. We can tell python to replace {} (a placeholder) with the contents of name or the string Matt

In [ ]:
print('I:{} R:{} S:{}'.format(1, 2.5, 'foo'))

In [ ]:
print('My name is {}'.format(name))

# Format string syntax

Format strings have a special syntax for replacement fields.If an object is passed into the format string, attributes can be looked up using .attribute_name syntax. There is also support for pulling index-able items out by using [index] as well.

In [ ]:
'Name: {}'.format('Paul')

In [ ]:
'Name: {name}'.format(name='John')

In [ ]:
'Age: {age}'.format(age=17)

In [ ]:
'Name: {[name]}'.format({'name' : 'George'})

In [ ]:
# ({}) can contain integer inside of them

In [ ]:
'Last: {2} First: {0}'.format('Paul', 'George', 'John')

# F - String

In Python 3.6, there was introduced a new type of string, that's called f-string.

In [ ]:
name = 'Matt'
age = 18

In [ ]:
f'My name is {name}'

In [ ]:
f'My name is {name} and I am {age} years old'

In [ ]:
f' Square root of two: {2**.5:5.3f}'

# Dir, help and pdb