# Comments, Booleans and None

Comments are not a type per se because they are ignored by Python. Comments serve as a reminder to the programmer.

In [1]:
num = 3.14 # PI

In [2]:
num

3.14

# Booleans

Booleans represent the values for True and False.

In [3]:
'bar'.startswith('b')

True

In [5]:
'bar'.endswith('1')

False

In [10]:
a = True
b = True
type(a)
type(b)

bool

It can be useful to convert other types to booleans. In python, the bool class can do that.

In [11]:
bool('')

False

In [12]:
bool('1')

True

In [13]:
bool('0')

True

In [14]:
bool('2')

True

In [26]:
name = 'Jordan'

In [27]:
name.format()

'Jordan'

In [28]:
if name:
    print("The name is {}".format(name))
else:
    print("Name is missing")

The name is Jordan

In [29]:
# Python will evaluate the contents of the if statement and coerce to a boolean for me. Because a string is True when it has content

In [33]:
name = "Jordan"
if name:
    print("The name is {}".format(name))

The name is Jordan

In [35]:
bool(0)

False

In [36]:
bool(4)

True

While explicit casting via the bool function is available, it is usually
overkill, because variables are implicitly coerced to booleans when used in
conditional statements. For example, container types, such as lists and
dictionaries, when empty, behave as “falsey”. On the flipside, when they
are populated they act as “truthy”.

Here is a table of truthy and falsey values:
**TRUTHY**: True, Most objects, 1, 3.2, [1,2], {'a':1}, 'string', 'False', '0'
**FALSEY**: False, None, 0, 0.0, []empty list, {}empty dict, ""empty string

# Do not test boolean values to check if they are equal to True. Do not explicitly cast expressions to boolean results.

In [41]:
# This is not overkill

In [39]:
#if done:
    # do something

In [42]:
# This is overkill

In [43]:
# if done == True
    # do something

In [45]:
members = []
if members:
    print("The member's list has values")
else:
    print("The member's list is empty")

The member's list is empty

In [52]:
n1 = "Jordan"
n2 = "Teodor"
n3 = "Kris"
students = [n1, n2, n3]

In [56]:
if students:
    print(f'There are students in the group. Their names are {n1},{n2},{n3}')
else:
    print('There are no students in the group')

There are students in the group. Their names are Jordan,Teodor,Kris

In [57]:
students1 = []
if students1:
    print('There are students in the group')
else:
    print("There are no students in the group")

There are no students in the group

# None

None is an instance of NoneType. Other languages have similar constructs such as nil, NULL or undefined. Variables can be assigned to None to indicate that they are waiting to hold a real value. None coerces to False in a boolean context

In [58]:
bool(None)

False

In [61]:
def hello():
    print("hi")

In [62]:
result = hello()
print(result)

hi
None

**None is a singleton, which means there is only one copy of None in the interpreter, it always has the same Id**

In [63]:
a = None
id(a)

140704432868576

In [64]:
id(None)

140704432868576

In [65]:
b = None
id(b)

140704432868576

In [66]:
a is b

True

In [67]:
a is not b

False

In [68]:
if a is None:
    print("A is not set!")

A is not set!

In [69]:
if a is b:
    print("A is B")

A is B

In [71]:
if a is not b:
    print("A is not B")
else:
    print("A is B")

A is B

In [72]:
# Tasks:

In [78]:
# Task 1

In [76]:
age = 23
if age > 18:
    print("You are older than 18 years old")
else:
    print("You are younger than 18 years old")

You are older than 18 years old

In [77]:
age = 23
if age > 18:
    old = True
else:
    old = False

print(old)

True

In [79]:
# Task 2

In [92]:
name = "Jordan"
ab_fh = 'abcdefghijklm'
ab_sh = 'nopqrstuvwxyz'
second_half = name.startswith(ab_sh)
second_half

False

In [89]:
if second_half:
    print("Name is classified within the first half")
else:
    print("Name is classified within the second half")

Name is classified within the second half

In [93]:
# Task 3

In [96]:
names = []
if names:
    print("Class has enrollments")
else:
    print("Class is empty")

Class is empty

In [98]:
names1 = ["Jordan"]
if names1:
    print("Class has enrollments")
else:
    print("Class is empty")

Class has enrollments

In [100]:
car = None

if car:
    print("You have a car")
else:
    print("Taxi for you")

Taxi for you

In [102]:
car = "Mazda"

if car:
    print("You have a car")
else:
    print("Taxi for you")

You have a car